body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead {
  font-weight: bold;
  font-size: 22px;
}

tbody {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
}
